/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f5f7fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
}

.container {
    width: 100%;
    max-width: 900px;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
}

header h1 {
    color: #333;
    font-size: 3em;
    margin-bottom: 10px;
    font-weight: 600;
}

header p {
    font-size: 1.1em;
    color: #888;
}

.file-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.file-actions div {
    width: 48%;
    background-color: #fafafa;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h3 {
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}

input[type="text"],
input[type="file"],
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.folder-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
}

.folder {
    background-color: #f4f6f9;
    padding: 25px;
    width: calc(33.33% - 20px);
    border-radius: 8px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    transition: transform 0.3s ease;
}

.folder:hover {
    transform: translateY(-10px);
}

.folder h4 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

.folder button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff5722;
    padding: 8px 20px;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.folder button:hover {
    background-color: #e64a19;
}

.message {
    margin-top: 20px;
    padding: 15px;
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
}

.message.success {
    background-color: #d4edda;
    color: #155724;
}

.message.warning {
    background-color: #fff3cd;
    color: #856404;
}
input[type="text"]{
    font-family: 'Poppins', sans-serif;
}
*{
    font-family: 'Poppins', sans-serif;
}